# Built files
*.apk
*.aar
*.aab

# Build folders
build/
.gradle/

# Local configuration  
local.properties

# IDE files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Log files 
*.log

# External native build
.externalNativeBuild
.cxx/
